<div class="jumbotron">
        <div class="container-fluid banner-text">
            <h1>Welcome to Bikes-n-Stuff OKC!</h1>
            <h2>Your source for used bikes in the greater Oklahoma City Area.</h2>
        </div>
</div>

<div class="row">
    <h1>StaticPages#index</h1>
    <p>Wecome! The date and time is <%= Time.now %></p>
</div>
<%= image_tag("Shirt.png", class: "shirt-img") %>

<!-- Param Example -->
<%= params[:example_key].to_i * 10 %>