<div class="panel panel-default thank_you">
    <div class="panel-body">
        <p>Thank you!</p>
        <br>
        <p>We have received your message and will respond as soon as possible.</p>
    </div>
</div>