<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    </head>
    <body>
        <h1>Thank you for your purchase!</h1>
        <p>
            You have made a purchase for one of our awesome bikes! Your order will be processed shortly!
        </p>
        <br>
        <p>
            Thank you for your business!
        </p>
    </body>
</html>