// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: white;
}

section {
    margin-bottom: 100px;
    text-align: center;
    color: white;
    a {
        color: coral;
        text-decoration: none;
    }
    a:hover {
        background-color: none;
        text-decoration: none;
        color: white;
    }
}

.field {
    color:black;
}