// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    color: white;
    text-align: center;
}

section {
    border-radius: 6px;
    margin-top: 25px;
    margin-bottom: 150px;
    color: white;
    a {
        color: coral;
        text-decoration: none;
    }
    a:hover {
        background-color: none;
        text-decoration: none;
        color: white;
    }
}

.product-show {
    padding-top: 30px;
}

.thumbnail {
    text-align: center;
    border: none;
}

.field {
    color:black;
}
